# Ignore everything
*

# Whitelist directories
#!*/

!/*.md

!/project1/
!/project1/assets
!/project1/templates

# Specific files
!/project1/requirements.txt


# All types I want It In
!.gitignore
!*.py
!*.html
!*.css
!*.scss
!*.md