html,
body {
    background: radial-gradient(circle, white, lightgreen);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 90vw;
    .index-forms {
        select {
            margin: 5px;
        }
        p {
            font-weight: 600;
        }
        ul {
            background-color: blue;
            color: white;
            padding: 10px 0 10px 0;
            margin-left: 20px;
        }
    }
    .menu-body {
        .prices-table {
            float: left;
            .panel-title {
                font-size: 1.5rem;
            }
            table {
                width: 300px;
                font-size: 1.3rem;
                background-color: rgb(36, 173, 36);
                color: white;
                font-weight: 800;
                td {
                    padding: 5px;
                    margin: 5px;
                }
                .td-bg {
                    background-color: rgb(221, 86, 86);
                }
            }
        }
        .menu-forms {
            float: right;
        }
    }
    .logout {
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        border-radius: 3px;
        padding: 4px;
        text-align: center;
    }
}