html,
body {
    background: radial-gradient(circle, white, lightgreen);
    h1 {
        padding: 5px;
        background-color: yellow;
    }
    ul {
        background-color: blue;
        color: white;
        padding: 10px 0 10px 0;
        margin-left: 20px;
    }
}