html, body {
  background: radial-gradient(circle, white, lightblue); }
  html .members-header, body .members-header {
    margin: 10px;
    margin-left: 20vw;
    padding: 10px;
    background-color: #6b6666;
    color: aliceblue;
    border-radius: 5px;
    width: 300px;
    text-align: center; }
    html hr, body hr {
      margin: 25px; }
      html .home-body, html .members-body, body .home-body, body .members-body {
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
        position: relative;
        margin-left: 20vw;
        margin-right: 40vw; }
        html .home-body select, html .home-body input, html .home-body button,
        html .members-body select, html .members-body input, html .members-body button,
        body .home-body select, body .home-body input, body .home-body button,
        body .members-body select, body .members-body input, body .members-body button {
          padding: 2px 0 2px 0;
          margin: 5px;
          border-radius: 4px;
          max-width: 300px; }
          html .home-body input, html .members-body input, body .home-body input,
          body .members-body input {
            padding-left: 10px; }
            html .home-body button, html .members-body button, body .home-body button,
            body .members-body button {
              background-color: rgba(116, 255, 97, 0.863);
              font-weight: 700;
              color: #474646;
              width: 80px;
              align-content: center; }
  html .search-header, body .search-header {
    margin-left: auto;
    margin-right: auto;
    clear: both; }
    html .search-header h3, body .search-header h3 {
      margin: 10px 0 0 30px; }
  html .search-body, body .search-body {
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 97vw; }
    html .search-table-main, body .search-table-main {
      background-color: black;
      color: white; }
      html .books-header, body .books-header {
        margin: 15px 30px 0 30px;
        position: relative; }
        html .books-header .b-list, body .books-header .b-list {
          max-width: calc(85vw - 100px); }
          html .books-header h3, body .books-header h3 {
            margin-left: 10px; }
            html .books-header ul, body .books-header ul {
              font-size: 16px; }
              html .books-header ul .book-item, body .books-header ul .book-item {
                padding: 4px; }
                html .books-header ul .book-item:hover, body .books-header ul .book-item:hover {
                  background-color: rgba(211, 211, 211, 0.425);
                  color: #4385ff;
                  font-weight: 600;
                  border-radius: 4px;
                  max-width: 300px; }
  html .book-body, body .book-body {
    margin: 0 auto 0 auto;
    max-width: 85vw; }
    html .book-body form, body .book-body form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      html .book-body form .f1, html .book-body form .f2, body .book-body form .f1,
      body .book-body form .f2 {
        margin: 10px;
        flex-grow: 0;
        height: 90px; }
        html .book-body form .f1, body .book-body form .f1 {
          max-width: calc(85vw - 200px);
          flex-grow: 5; }
          html .book-body form .f1 input, body .book-body form .f1 input {
            line-height: 2em;
            padding-top: 15px;
            padding-bottom: 100px; }
      html .book-body form .f2, body .book-body form .f2 {
        width: 190px; }
        html .book-body form .f2 select, html .book-body form .f2 button,
        body .book-body form .f2 select, body .book-body form .f2 button {
          margin: 5px 0 20px 0; }
  html .logout, body .logout {
    position: fixed;
    top: 10px;
    right: 5px;
    font-size: 20px;
    background-color: #ffce73;
    padding: 7px 10px 10px 10px;
    border-radius: 4px; }
