{% extends "layout.html" %}

{% block heading %}
<div class="books-header">

    <h2>Search results</h2>

    <p><a href="{{ url_for("search") }}" title="Search">New search</a><br>
    <a href="{{ url_for("reviews") }}" title="Reviews">My reviews</a><br>
    <a class="logout" href="{{ url_for("logout") }}" title="Sign out">Logout</a></p>
    
</div>

{% endblock %}

{% block body %}

<div class="book-body">
    <div class="b-list">
        <ul>
            <li class="book-item">Title: {{ book.title }}</li>
            <li class="book-item">Author: {{ book.author }}</li>
            <li class="book-item">Publication Year: {{ book.year }}</li>
            <li class="book-item">ISBN: {{ book.isbn }}</li>
            <li class="book-item">Review Count: {{ reviews_count }}</li>
            <li class="book-item">Average Rating: {{ average_rating }}</li>
        </ul>
    </div>

    <hr>

    <form action="{{ url_for("book", book_id=book.id) }}" method="post">
        <div class="f1">
            <p>Add your opinion about the book:</p>
            <input class="form-control" type="text" name="opinion" placeholder="Enter a review (optional)">
        </div>

        <div class="f2">
            <p>Rate the book from 1 to 5:</p>
            <select class="form-control" name="rate">
                {% for num in numbers %}
                <option value="{{ num }}">{{ num }}</option>
                {% endfor %}
            </select>
            <button class="form-control">Submit</button>
        </div>
    </form>

</div>

{% endblock %}
