{% extends "layout.html" %}

{% block heading %}

<h2 class="title">Goodreads Review</h2>
<hr>

{% endblock %}

{% block body %}

<div class="logout">
    {% if msg %} <i></i>{{ msg }}</i><br><br> {% endif %}

    <p>Search and submit reviews for your favorite book.<br>
    Categories available: ISBN (Goodreads ID), Book Title, Author and Year.<br>
    View how many real Goodreads' reviews and average rate each book has!</p><br>
    

<div class="forms">
    <h3 class="title">Registration:</h3>
    <form class="register" action="{{ url_for("main") }}" method="POST">
        <!-- name="username" "email" "password" property is for Python reference -->

        <input class="ip-bt" type="text" name="name_register" placeholder="Name" required><br>
        <input class="ip-bt" type="email" name="email_register" placeholder="Email" required><br>
        <input class="ip-bt" type="password" name="password_register" placeholder="Password" required><br>
        <button class="ip-bt">Register</button>
    </form>
    <hr>

    Already a member?
    <h3>Login</h3>
    
    <form class="login" action="{{ url_for("main") }}" method="POST">
        <input class="ip-bt" type="text" name="email_login" placeholder="Email" required><br>
        <input class="ip-bt" type="password" name="password_login" placeholder="Password" required><br>
        <button class="ip-bt">Login</button>
    </form>

</div>

<!-- <img class="img-home" src="static/img/bg-home2.jpg"> -->

{% endblock %}