{% extends "layout.html" %}

{% block heading %}
<h2 class="members-header">Member's area</h2>
{% endblock %}


{% block body %}
<div class="members-body">

    <div class="members-section">
        <p>Welcome, {{ name }}.</p>
        <p>You are logged as {{ email }}.</p>
        <hr>
    </div>

    <p>To search for a book, pick a category: ISBN, Title or Author</p>
    <form action="{{ url_for("search") }}" method="POST">
        <select class="form-control" name="category">
            <option value="isbn">ISBN</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="year">Year</option>
        </select>

        <input class="form-control" name="query" type="search" placeholder="Type in here">
        <button class="btn btn-primary">Search</button>
    </form>

    <hr>
    <a href="{{ url_for("logout") }}" title="Sign out">Logout</a>

</div>

{% endblock %}
