<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>
        {% block title %}
        {% endblock title %}
    </title>

    {% load sass_tags %}
    <link href="{% sass_src 'orders/css/style.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h3 class="heading">
            {% block heading %}
            {% endblock heading %}
        </h3>
    </header>
        
    {% block logout_view %}
    {% endblock logout_view %}
    
    {% block body %}
    {% endblock body %}

    {% block js %}
    {% endblock js %}
</body>
</html>
