{% extends 'orders/base.html' %}

{% block title %}
Pinochio's Pizza &amp; Subs
{% endblock title %}


{% block h1 %}
Welcome to Pinochio's Pizza &amp; Subs
{% endblock h1 %}


{% block body %}
<div class="forms">
    {% comment %} <div class="register"> {% endcomment %}
        <p>Registration</p>
        <form class="reg" name="register" action="{% url 'register_view' %}" method="POST">
            {% csrf_token %}
            <input name="reg_username" type="text" placeholder="Username">
            <input name="reg_email" type="email" placeholder="Email address">
            <input name="reg_password" type="password" placeholder="Password">
            <button type="submit">Register</button>
        </form>
    {% comment %} </div>

    <div class="login"> {% endcomment %}
        <p>Login</p>
        <form class="log" name="login" action="{% url 'login_view' %}" method="POST">
            {% csrf_token %}
            <input name="login_username" type="text" placeholder="Username">
            <input name="login_password" type="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    {% comment %} </div> {% endcomment %}
</div>
{% endblock body %}